.menu-screen {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
        /* linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.6)), */
        url("https://cdn.pixabay.com/photo/2017/08/07/19/07/books-2606859_1280.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-card {
    background: rgba(255, 255, 255, 0.829);
    border: 1px solid #e5e7eb;
    border-radius: 24px;
    padding: 3rem 4rem;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    animation: fadeIn 0.6s ease;
}

.menu-title {
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(135deg, #1f2937, #4f46e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-subtitle {
    margin: 1rem 0 2.5rem;
    color: #6b7280;
    font-size: 1.1rem;
}

.menu-btn {
    display: block;
    width: 100%;
    padding: 0.9rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    background: #f9fafb;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}

.menu-btn:hover {
    background: #eef2ff;
}

.menu-btn.primary {
    background: #000000;
    color: white;
    border: none;
}

.menu-btn.primary:hover {
    background: #ffffff4f;
}

.menu-content {
    animation: fadeIn 0.4s ease;
    max-width: 500px;
    margin: 0 auto;
}

.menu-content-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #1f2937;
}

.menu-text {
    text-align: left;
    color: #374151;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.menu-text p {
    margin-bottom: 1rem;
}

.menu-list {
    margin: 1rem 0 1rem 1.5rem;
    padding: 0;
}

.menu-list li {
    margin-bottom: 0.5rem;
}

.divider {
    height: 1px;
    background: #e5e7eb;
    margin: 1.5rem 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: "Inter", system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif;

    color: #1f2937;
    background: #ffffff;
}